ul {
    /* position: fixed;
    top: 0;
    width: 100%; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 65);
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(1, 1, 65);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

div.foreground{
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    padding: 0px 50px;
    margin: 25px auto;
    max-width: 1000px;
    height: 500px;
}

div.timeline {
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

div.content-box {
   display:block; 
   padding: 0px 0px 25px 0px;
   min-height: 200px;
}

.btn {
    display:block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: blue;
    
  }

#bottom {
    position: absolute;
    bottom: 0px;
}